.container {
    width: 400px;
    margin: 0 auto;
    background-color: #f0f0f0;
  }
  .left,.right{
    width: 50%;
    padding: 20px;
    color: #fff;
    box-sizing: border-box;
  }
  .left {
    float: left;
    background-color: #3498db;
  }
  .right {
    float: right;
    background-color: #e74c3c;
  }